@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --my-blue:#609FFF;
    --my-font:'Roboto', sans-serif;
}


.bar {
    position: relative;
    width: 100%;
    padding: 1rem;
    background-color: var(--my-blue);
    font-family: var(--my-font);
    color: #fff;
}

.logout {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    padding: 7px;
    background-color: crimson;
    border-radius: 7px;
}

.logout i, .overlay a {
    color: #fff;
}



.logout a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.container {
    position: relative;
    width: 700px;
    margin: 50px auto;
}

.addBtn {
    position: absolute;
    bottom: 50px;
    right: 50px;
    width: 60px;
    height: 60px;
    border: none;
    background-color: var(--my-blue);
    border-radius: 50%;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.addBtn:hover {
    background-color: #4f91f5f3;
}


.container .do {
    width: 100%;
    transition: all 0.2s ease-in-out;
}

.container .do:hover {
    background: #f5f5f5;
    cursor: pointer;
}

.container .do p{
    font-family: var(--my-font);
    font-size: 20px;
    color: #545454;
}

.container .actions {
    display: flex;
    align-items:center ;
    position: relative;
    width: 100%;
    padding: 7px;
}

.container .actions a {
    text-decoration: none;
    padding: 3px;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 3px;
    font-family: sans-serif;
    display: block;
    font-size: 11px;
}

.container .actions a {
    background-color: var(--my-blue);
    color: #fff;
    font-weight: 600;
}

.container .actions a:last-child {
    background-color: crimson;
    color: #fff;
    font-weight: 600;
}
.container .do.active {
    background-color: greenyellow;
    color: #fff;
}

.container .do.active p {
    color: #888;
    font-weight: 600;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(130, 130, 130, 0.3);
    display: none;
}

.overlay.view {
    animation: viewLay 0.3s ease-in-out;
    display: block;

}

@keyframes viewLay {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

a {
    text-decoration: none;
}
.overlay .box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    background: #fff;
    width: 800px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-bottom:0px ;
}


.overlay .box h1,.overlay .box p {
    font-family: var(--my-font);
}

.overlay .box h1 {

    font-size: 35px;
}

.overlay .box p {
    margin-top: 15px;
    font-size: 16px;
    color: #545454;
}

.overlay .box input {
    width: 100%;
    background: transparent;
    padding: 7px;
    border: none;
    border-bottom: 1px solid rgba(130, 130, 130, 0.3);
    margin-top: 15px;
    outline: none;
    font-size: 14px;
}


.box .btns {

    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 7px;
}

.btns button {
    outline: none;
    background: transparent;
    border: none;
    padding: 7px;
    margin: 3px;
    font-family: sans-serif;
    cursor: pointer;
}

.btns .add {
    color: var(--my-blue);
}

.btns .can {
    color: #828282;
}

.option {
    display: none;
    position: absolute;
    width: 100px;
    padding: 7px;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.15);
}

.option small {
    font-size: 13px;
    font-family: var(--my-font);
    color: var(--my-blue);
    border-bottom: 1px solid #f1f1f1;
    width: 100%;
    padding-bottom: 5px;

}

.option button {
    background-color: rgba(255, 255, 255, 0.15);
    border:none;
    border-radius: 8px;
    padding: 7px;
    font-size: 13px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.option button:hover {
    background-color: #545454;
    color: #fff;
}

@media (max-width:746px) {
    .container {
        width: 90%;
    }

    .overlay .box{
        width: 95%;
    }
}