{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'edit.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <title>Todo - CBV</title>
</head>
<body>




    <div class="bar">
        <h1>{{user}}'s List</h1>
        <div class="logout">
            <i class="fas fa-sign-out-alt"></i>
            <a href="{% url 'logout' %}"> logout</a>
        </div>
    </div>

    <div class="container">

        <form action="." method="POST">
            {% csrf_token %}
            <input type="text" name="text" value="{{action.text}}">
            <div class="buttons">
                <button class="save" type="submit">Save</button>
                <button class="back" type="button" onclick="window.location.href='/'">Back</button>
            </div>
        </form>

    </div>

</body>
</html>