{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>


    <div class="container">
        
        <h1>Login</h1>
        
        <form action="." method="POST">
            {% csrf_token %}

            {% if form.errors %}
                {% for key,val in form.errors.items %}
                    {% for error in val %}
                        <div class="error">
                            {{error}}
                        </div>    
                    {% endfor %}
                {% endfor %}
            {% endif %}
            
            <div class="in">
                <i class="far fa-user"></i>
                <input type="text" name="username">
            </div>
    
            <div class="in">
                <i class="fas fa-lock"></i>
                <input type="password" name="password">
            </div>
    
            <button type="submit">Login</button>
    
            <a href="{% url 'signup' %}">Create Account ?</a>
            
        </form>
    </div>
    



</body>
</html>